@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:italic&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-black text-white antialiased font-sans uppercase select-none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tighter font-black;
  }
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white;
    color: transparent;
  }
  .tracking-ultra {
    @apply tracking-[0.4em];
  }
}
